<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/common-head :: head('Служба поддержки')}"></head>

<body>
<div class="wrapper">
    <div th:insert="~{fragments/common-sidebar :: sidebar}"></div>

    <div class="main-panel">
        <nav th:insert="fragments/common-navbar :: navbar('Служба поддержки: ответ')"></nav>

        <form class="col card p-3 mb-5" id="answer" method="post" th:object="${request}">
            <label for="request_area" th:text="${request.fullName}"></label>
            <textarea class="form-control" id="request_area" readonly="readonly" rows="5"
                      th:text="${request.message}"></textarea>
            <label for="answer_area">Ответ</label>
            <textarea class="form-control" form="answer" id="answer_area" rows="5" th:field="*{answer}"></textarea>
            <div class="form-group">
                <br>
                <button class="btn btn-primary pull-right" style="width: 12rem;" type="submit">Ответить</button>
            </div>
        </form>
    </div>

</div>
</body>

<script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/light-bootstrap-dashboard.js?v=2.0.0 " type="text/javascript"></script>

</html>